@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    box-sizing: border-box;
}   

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #181818;
    overflow: hidden;
    color: #fff;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}

.login-page {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 200px;
    height: auto;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.form {
    margin-top: 1rem;
    width: 60%;
}

.form .text-field {
    width: 100%;
    margin-top: .5rem;
}

.password {
    margin-top: 1rem;
}

.primary-btn {
    border: none;
    width: 60%;
    margin-top: 1rem;
    padding: .3rem;
    background-color: orangered;
}

.primary-btn:hover {
    background-color: rgb(250, 115, 66);
}

.links {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #fff;
}

.or {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: .5rem;
}

.or .line {
    flex: auto;
    height: 1px;
    background: #fff;
}

.or span {
    margin: 0rem .5rem 0rem .5rem;
}

.secondary-btn {
    border: 1px solid #fff;
    color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    background: none;
    text-transform: uppercase;
}

.secondary-btn:hover {
    border: 1px solid orangered;
    color: orangered;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.footer .copyright,.term-and-use {
    margin: auto;
    color: orangered;
}

.right h1 {
font-size: 3rem;
margin-bottom: 1rem;
}

.right h1:hover {
    color: orangered;
}
