@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
background: #35424a;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background: #28353d;
}

#head {
    display: flex;
    justify-content: space-between;
}

#head h1 {
    margin: 10px;;
    color: white;
}

#head h1 span {
    color: #e8491d;
}


#head ul {
    display: flex;
    list-style-type: none;
    margin-top: 10px;
}

#head ul li {
    margin: 10px;;
}

#head ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#head ul li a:hover {
    color: #e8491d;
}

#head ul li .active {
    color: #e8491d;
}

#showcase-content {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#showcase {
    background: url('showcase1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#showcase-content h1 {
    font-size: 55px;
    text-transform: capitalize;
    padding-bottom: .8rem;
    color: white;
    letter-spacing: 5px;;
}

#showcase-content p {
    font-size: 20px;
    text-align: center;
    padding-top: .8rem;
    color: white;
    letter-spacing: 1px;
}

#newsletter {
    background: #28353d;
}

#newsletter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

#newsletter-content h4 {
    font-size: 1.5rem;
    color: white;
    letter-spacing: 3px;
}

#newsletter-content input {
    border: 1px solid white;
    background: none;
    height: 29px;
    padding: 5px;
    width: 300px;
    margin: 10px;
    color: white;
}

#newsletter-content input::placeholder {
    color: white;
}

#submit-btn {
    border: 1px solid white;
    background: none;
    padding: 6px;
    color: white;
    width: 100px;
}

#submit-btn:hover {
    border: 1px solid black;
    color: black;
    background: white;
}

#services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0px;
    height: 64vh;
}

.icons {
    text-align: center;
    margin: 30px 0px;
}

.icons h3 {
    padding-top: 15px;
}

footer {
    background: #28353d;
}

#footer-content {
    display: flex;
    height: 61.1px;
    justify-content: center;
    align-items: center;
}

#footer-content p {
    color: white;
}

#footer-content p span {
    color: #e8491d;
}

#about-us {
    height: 427.7px;
}

#about-us-div {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

#about-us-div h2 {
    margin: 20px 0px;
}

#about-us-div p {
    margin: 30px 0px;
}

.about-us-content {
    padding: 0px 0px 0px 20px;
}

